@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b1121; /* Warna gelap ala dashboard di gambar */
  color: white;
}
/* Custom Scrollbar Modern */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Warna biru primary */
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b; /* Warna lebih gelap untuk dark mode */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}